@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


:root{
    /* --theme:paleturquoise; */
    /* --theme:palevioletred; */
    /* --theme:palegoldenrod; */
    --theme:rgb(149, 216, 149);
    --free:rgb(149, 216, 149);
    --theme: rgb(236, 116, 116);
    --busy: rgb(236, 116, 116);
    --status: rgb(149, 216, 149);
    --status: rgb(236, 116, 116);
    /* --accent: palegoldenrod; */
    --accent:lightgray;
}
*{
    margin: 0;
    /* color:lightcoral; */
    padding: 0;
    box-sizing: border-box;
    border-radius: 6px;
}

.startscreen{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.logo{
    height: 150px;
}
body{
    font-family: 'Tilt Neon', cursive;
    background: url('./appBG.jpg');
}
i{
    color: var(--accent);
}
.empty{
    height: 60px;
}
.appbar{
    background: url('./images/titlebg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--accent);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    position: fixed;
    top: 0;
    z-index: 20;
}
.title{
    font-size: 1.8rem;
    color: var(--accent);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 10px;
}

.card{
    margin: 4px;
    padding: 3px;
    /* border: 3px solid #000; */
    /* border-radius: 15px; */
    /* height: 130px; */
}
.currentBox{
    height: 110px;
    display: grid;
    border:3px solid var(--accent);
    grid-template-columns: 25% 75%;
    background: #000;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 20px;
    border-bottom: none;
    /* border: 2px solid var(--theme); */
    
}
.fa-chevron-down{
    color:var(--accent);
    padding: 4px 30px;
    animation: rotation 1s ;
    animation-play-state: paused;
    z-index: 0;
}
@keyframes rotation {
    to{
        transform: rotate(180deg);
    }
}
.avatar{
    object-fit: contain;
    height: 95px;
    margin-left: 4px;
    border: 5px dashed white;
    border: 3px dashed var(--status);
    border-radius: 40%;
}
.left{
    display: flex;
    align-items: center;
}
.right{
    border: 3px solid var(--status);
    margin: 5px;
    display: grid;
    background: #000000;
    border-radius: 15px;
    color: paleturquoise;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    
}
.subject{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 5px;
    /* margin: auto; */
}
.subName{
    border-right: 3px solid var(--theme);
    border-bottom: 3px solid var(--theme);
    border-left: 3px solid var(--theme);
    padding: 0 5px;
    color: var(--theme);
}
.subName:odd{
    border-right: 3px solid var(--free);
    border-bottom: 3px solid var(--free);
    border-left: 3px solid var(--free);
    padding: 0 5px;
    color: var(--free);
}
.timeloc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: var(--theme);
}
.time{
    /* border: 3px solid #000; */
    color: var(--theme);
    padding: 0 5px;
    margin: 0 2.5px;
    border-right: 3px solid var(--theme);
    border-bottom: 3px solid var(--theme);
    border-top: 3px solid var(--theme);

}
.location{
    /* border: 3px solid #000; */
    padding: 0 5px;
    margin: 0 2.5px;
    color: var(--theme);
    border-left: 3px solid var(--theme);
    border-bottom: 3px solid var(--theme);
    border-top: 3px solid var(--theme);
}
.bottom{
    background: rgb(0, 0, 0);
    /* margin: 0 5px; */
    font-size: 1rem;
    display: flex;
    border: 3px solid var(--accent);
    border-top: none;
    align-items: center;
    justify-content: center;
    /* border: 0px solid #705c5c; */
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0%;
    text-align: center;
}

.middle{
    background: #000000;
    color:var(--accent);
    border-right: 3px solid var(--accent);
    border-left: 3px solid var(--accent);
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    padding: 10px;
    display: none;
}
.visible{
    display:block;
}
.hidden{
    display: none;
}
table{
    width: 100%;
}
td{
    border-radius: 0;
    border: 1px solid var(--accent);
    margin: 0;
    text-align: center;
}

.rotate {
    -webkit-animation: spin1 0.5s forwards;;
    -moz-animation: spin1 0.5s forwards;;
    -o-animation: spin1 0.5s forwards;
    -ms-animation: spin1 0.5s forwards;
    animation: spin1 0.5s forwards;

}

@-webkit-keyframes spin1 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(180deg);
    }
}

@-moz-keyframes spin1 {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(180deg);
    }
}

@-o-keyframes spin1 {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(180deg);
    }
}

@-ms-keyframes spin1 {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(180deg);
    }
}

@-keyframes spin1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.slideanim {
    visibility: hidden;
    visibility: visible\9;
    /*For old IE browsers IE6-8 */
}

.slideanim.slide {
    visibility: visible;
    animation: slide 1s;
}

.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}